<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: 'Formulario de Registro'}) %>
<body>
    <%- include('partials/headerNavbar') %>
    <form action="/users/register" method="POST">
      <div class="registro">
        <label class="registro_campo" for="name">Nombre:</label><br>
        <input type="text" name="name" id="name" value="<%= locals.old && old.name %>" >
        <% if (locals.errors && errors.name) { %>
          <p class="feedback">*<%= errors.name.msg %></p>
          <% } %>
      </div>
      <div class="registro">
        <label class="registro_campo" for="password">Contraseña:</label><br>
        <input type="password" name="password" id="password" value="<%= locals.old && old.passwordname %>" >
        <% if (locals.errors && errors.password) { %>
          <p class="feedback">*<%= errors.password.msg %></p>
          <% } %>
      </div>
      <div class="registro">
        <button class="boton_registro" type="submit">Sing In</button>
      </div>
      <div class="registro">
        <a href="/users/register"><button class="boton_registro login">Sing up</button></a>
      </div>
      </form>
</body>
</html>